@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Diego Sun's Libary hosts a great variety of books for your viewing pleasure!</p>